/* LoginForm.css */

.AdminLoginMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 239, 239);
  }
  
  .AdminLoginFormContainer {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .AdminLoginFormTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .AdminLoginInputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .AdminLoginSubmitButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .AdminLoginSubmitButton:hover {
    background-color: #0056b3;
  }

  
  .AdminLoginLink {
    color: #007bff;
    text-decoration: none;
  }
  
  .AdminLoginLink:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .AdminLoginFormContainer {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .AdminLoginFormContainer {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .AdminLoginFormContainer {
      width: 95%;
    }
  }
  