.acceptterms .terms{
    text-decoration: none;
    color: black;
}
.acceptterms .terms:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}