.acce-mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: calc(100vh - 200px); /* Set a minimum height */
    margin-top: 5px;
    padding-top: 20px; /* Add padding instead of margin to keep margin consistent */
    box-sizing: border-box; /* Include padding in height calculation */
  }
  
  .acce-form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .acce-form-title {
    text-align: center;
  }
  
  .acce-input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .acce-radio {
    margin-bottom: 15px;
  }
  
  .acce-checkbox {
    margin-bottom: 15px;
  }
  
  .acce-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .acce-submit-button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .acce-form-container {
        width: 90%;
    }
  }
  